@media screen and (max-width: 1000px) {
  /* header css start */
  header{
    height: 0;
  }

  .menu-list{
    display: none;
  }

  .menu-list-responsive{
    display: block;
  }

  .menu-list-button:link{
    color: rgb(206, 206, 206);
  }
  
  .menu-list-button:visited{
    color: rgb(206, 206, 206);
  }
  /* header css end */

  /* index.php css start */
  .register-input{
    width: 50%;
  }
  /* index.php css end */
}

@media screen and (max-width: 480px) {
  /* index.php css start */
  .register-input{
    width: 80%;
  }
  /* index.php css end */
}